<section class="hero has-background-white-ter" id="committees">
    <div class="hero-body">
        <div class="container">
            <div class="block">
                <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black">
                    運営体制
                </h3>
            </div>
            <!-- <div class="container"> -->
            <div class="columns">
                <div class="column">
                    <div class="block">
                        <h3 class="is-size-5 has-text-weight-semibold">実行委員長</h3>
                        <p>鈴木裕之（群馬大）</p>
                    </div>
                </div>
                <div class="column">
                    <div class="block">
                        <h3 class="is-size-5 has-text-weight-semibold">実行委員</h3>
                        <p>安部登樹（富士通）</p>
                        <p>大川学（筑波技術大）</p>
                        <p>大木哲史（静岡大）</p>
                        <p>加賀陽介（日立）</p>
                        <p>河原智一（東芝）</p>
                        <p>幸田芳紀（NEC）</p>
                        <p>藤尾正和（日立）</p>
                        <p>宮本貴也（NEC）</p>
                        <p>渡邉裕司（名古屋市大）</p>
                    </div>
                </div>
                <div class="column">

                </div>
            </div>

        </div>
    </div>
</section>